 /* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body{
  margin: 0;
  padding: 0;
}


.heading-style{
  align-items: center;
  text-align: center;
  background-color: rgb(201, 221, 240);
  font-size: 3rem;
  padding: 30px;
}
.heading-style span{
  font-style: italic;
}
.slotMachine{
  width:30%;
  align-items: center;
  text-align: center;
  padding : 10px;
  margin: auto;
  background: rgb(129, 125, 125);
  border: 5px solid rgb(65, 61, 61);
}